body {
    margin: 0%;
    padding: 0%;
}

body {

    background-color: #7d0093
    
} 
nav{
    
    text-align: center;
    padding: 1em;
}

header {
    background-color: #7d0093;
    background-image: url(img/mini_CA_CA_17.04.01-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    background-color: #7d0093
}
#imagens_da_home {
    display: flex;
    Justify-content: space-between;
    flex-direction: row;

}

#imagens_da_home img {
    background-color: #7d0093
}


#imagens_da_home img {
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    
}

#inscreve a img {
   width: 2%;
    height: 2%;
}
    

#logoarea img {
    margin:0 auto;
    display: flex;
    justify-content:center;
}

#logoarea img {
    width: 528px;
    height: 413px;
}
    
#logoarea h2 {
    font-size: 10em;
}

footer > div {
    background-color: #ffc600
}

footer > div {
    font-size: 0,5em;
    justify-content: flex-end;
}
footer img {
    width: 0,5px;
    height: 0,5px;
}

footer a {
    display: flex;
    justify-content: flex-end;
    font-size: 2em; 
}
#daletra {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;

}

}


#leprincipais {
    background-color: #ffc600

}

#leprincipais hgroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-de-navegação {
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.text{
    font-size: 3em;
} 


nav div ul li > img{
    width: 60%;
    padding: 0.2em;
}
nav div ul > li{
    width: 100%;
    text-align: center;
}
NAV ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 2em;
    font-family: 'Limelight', cursive;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
    background-color: transparent;
}

address {
    font-size: 1.5em;
}

address a {
    text-align: center;
}

